body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
    width: 290px;
    margin-left: 600px;
    margin-top: 50px;
    border: 3px solid black;
}

.idcard {
    width: 330px;
    background-color: white;
    border: 2px solid #a0a0a0;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

}

.top {
    gap: 2px;
    display: flex;
    align-items: center;


}


.logo {
    width: 60px;
    mix-blend-mode: multiply;
    opacity: 1;
}

.sample {
    width: 120px;
    height: 150px;
    display: block;
    margin: 0 auto 10px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.na {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info {
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
}

.info p {
    margin: 4px 0;
}

hr {
    border: none;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.end {
    text-align: center;

    margin-top: 12px;
    font-size: 12px;
}